body {
  box-sizing: content-box;
  margin: 0;
  font-family: "inter";
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}
